downloader/files/*
downloader/node_modules/*
.vscode/settings.json
analyzer/.idea/
analyzer/target/
downloader/npm-debug.log
dashboard/.vs/
dashboard/Dashboard/bin/
dashboard/Dashboard/obj/
dashboard/packages/
stanford-ner/stanford-ner-3.9.1-javadoc/
dashboard/TrainingSetBuilder/bin/
