downloader/files/*
downloader/node_modules/*
.vscode/settings.json
analyzer/.idea/
analyzer/target/
downloader/npm-debug.log
dashboard/.vs/
dashboard/Dashboard/bin/
dashboard/Dashboard/obj/
dashboard/packages/
dashboard/TrainingSetBuilder/bin/
